@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-bg: #ffffff;
    --border-container: #9ca3af;
    --border-error: #dc2626;
    --border-input: #1e293b;
    --btn-bg-light-ok: #bbf7d0;
    --btn-bg-light: #e5e7eb;
    --btn-bg-ok: #4ade80;
    --btn-bg-primary-hover: #9d174d;
    --btn-bg-primary: #be185d;
    --btn-icon-main: #1e293b;
    --high-priority: #f87171;
    --low-priority: #facc15;
    --medium-priority: #fb923c;
    --text-error: #dc2626;
    --text-main: #262626;
    --text-ok: #16a34a;
  }

  body {
    background-color: var(--base-bg);
    color: var(--text-main);
  }

  #date::-webkit-calendar-picker-indicator {
    background-color: var(--btn-bg-light);
  }

  .dark {
    --base-bg: #262626;
    --text-main: #ffffff;
    --text-error: #fca5a5;
    --text-ok: #86efac;
    --border-input: #e2e8f0;
    --border-error: #fca5a5;
  }
}
